.policyTableContainer {
  padding: 58px 212px 0;
  display: flex;
  flex-direction: column;
  background-color: #faf9f7;
}

.topRowContainer {
  display: flex;
  justify-content: space-between;
}

.topRowHeading {
  font-weight: 400;
  font-size: 18px;
  margin-left: 20px;
}

.editPolicyContainer {
  display: flex;
  align-items: center;
}

.editPolicyPencilIcon {
  cursor: pointer;
}

.editPolicyText {
  font-weight: 400;
  font-size: 16px;
  color: #0054f0;
  cursor: pointer;
  margin-left: 8px;
}

.rowContainer {
  border-top: 1px solid #d0ccc9;
  display: flex;
  align-items: center;
}

.lastRowContainer {
  border-bottom: 1px solid #d0ccc9;
}

.calculateBonusButton {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  color: #0054f0;
  cursor: pointer;
  margin-bottom: 40px;
}

.rowPlaceholderText {
  font-weight: 700;
  font-size: 14px;
  margin: 20px 0 20px 20px;
  width: 600px;
}

.rowContentText {
  font-weight: 400;
  font-size: 14px;
  margin: 20px 0;
}

@media screen and (max-width: 1620px) {
  .rowPlaceholderText {
    width: 500px;
  }
}

@media screen and (max-width: 1320px) {
  .rowPlaceholderText {
    width: 400px;
  }
}

@media screen and (max-width: 896px) {
  .rowPlaceholderText {
    width: 150px;
  }

  .policyTableContainer {
    padding-right: 50px;
    padding-left: 50px;
  }
}
