.cardContainer {
  display: flex;
  flex-direction: column;
}

.cardImage {
  height: 180px;
  text-align: center;
  background-color: #e8e0d9;
}

.cardContent {
  padding: 24px 24px 32px 24px;
  background-color: #faf9f7;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
}

.subTitleContainer {
  margin: 28px 0 24px;
}

.cardSubtitle {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}

.cardSubtitleContent {
  margin: 8px 0 0;
  font-weight: 400;
  font-size: 14px;
}

.viewInsuranceDetailsContainer {
  display: flex;
  align-items: center;
}

.viewInsuranceDetailsText {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #0054f0;
  cursor: pointer;
}

.arrowRightIcon {
  cursor: pointer;
}
